<?xml version="1.0"?>
<model>
  <name>hazard_cone_blue</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>scout_system</name>
    <email>pranav@todo.todo</email>
  </author>
  <description>Blue FSAE-style traffic cone (12 in / ~305 mm) -- "medical" hazard marker.</description>
</model>
