<?xml version="1.0"?>
<model>
  <name>hazard_cube_red</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>scout_system</name>
    <email>pranav@todo.todo</email>
  </author>
  <description>Red 15 cm cube -- "fire" hazard marker for scout perception tests.</description>
</model>
