<?xml version="1.0"?>
<model>
  <name>hazard_cube_yellow</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>scout_system</name>
    <email>pranav@todo.todo</email>
  </author>
  <description>Yellow 15 cm cube -- "chemical" hazard marker for scout perception tests.</description>
</model>
